{% extends "base.html" %}

{% block title %}Zoo News{% endblock %}

{% block header %}News{% endblock %}

{% block content %}
    {% for article in articles %}
        <div class="news-article">
            <h2>{{ article.title }}</h2>
            <p>{{ article.short_description }}</p>

            {% if article.image %}            
                <img src="{{ article.image.url }}" alt="{{ article.title }}" width="300">
            {% endif %}

            <p><em>Published: {{ article.pub_date }}</em></p>

            <details>
                <summary>Read more</summary>
                <p>{{ article.full_text }}</p>
            </details>
            <hr>
        </div>
    {% empty %}
        <p>No articles available.</p>
    {% endfor %}
{% endblock %}