{% extends "base.html" %}

{% block title %}Contacts{% endblock %}
{% block header %}Employees' Contacts{% endblock %}

{% block content %}
    {% for contact in contacts %}
        <hr>
        <figure style="margin-bottom: 20px;">
            {% if contact.photo %}
                <img src="{{ contact.photo.url }}" alt="{{ contact.name }}" width="150">
            {% endif %}
            <figcaption><strong>{{ contact.name }}</strong></figcaption>
            <p><strong>Position:</strong> {{ contact.position.name }}</p>
            {% if contact.info %}
                <p>{{ contact.info }}</p>
            {% endif %}
            <p><em>Phone:</em> {{ contact.phone }}</p>
            <p><em>Email:</em> {{ contact.email }}</p>
        </figure>
    {% empty %}
        <p>No contacts available.</p>
    {% endfor %}
{% endblock %}