<head>
    <title>Contatcts</title>
</head>
<body>
    <h1>Employees' Contacts</h1>

    {% for contact in contacts %}
        <hr>
        <figure>
            {% if contact.photo %}
                <img src="{{ contact.photo.url }}"  width="150">
            {% endif %}
            <figcaption>{{ contact.name }}</figcaption>
            <p><strong>Position:</strong> {{ contact.position.name }}</p>
            <p>{{ contact.info }}</p>
            <p><em>Phone:</em> {{ contact.phone }}</p>
            <p><em>Email:</em> {{ contact.email }}</p>
        </figure>
    {% endfor %}
</body>