{% extends "base.html" %}

{% block extra_css %}
    <style>
        label { color: red; }
    </style>
{% endblock %}

{% block title %}Employee Positions{% endblock %}
{% block header %}Employee Positions{% endblock %}

{% block content %}
    <label for="positions">Choose position:</label>
    <select id="positions" name="positions">
        {% for position in positions %}
            <option selected value="{{ position.name }}">{{ position.name }}</option>
        {% endfor %}
    </select>
{% endblock %}