{% extends "base.html" %}

{% block extra_css %}
    <style>
        label { 
            color: #006401; 
            font-weight: bold;
            margin-right: 10px;
        }

        select {
            padding: 8px 12px;
            border: 2px solid #888;
            border-radius: 6px;
            background-color: #f9f9f9;
            font-size: 14px;
            cursor: pointer;
            transition: border-color 0.3s, box-shadow 0.3s;
        }

        select:focus {
            border-color: #006401;
            outline: none;
            box-shadow: 0 0 5px rgb(173, 255, 48, 0.8);
        }

        option {
            padding: 6px;
        }
    </style>
{% endblock %}

{% block title %}Employee Positions{% endblock %}
{% block header %}Employee Positions{% endblock %}

{% block content %}
    <label for="positions">Choose position:</label>
    <select id="positions" name="positions">
        {% for position in positions %}
            <option value="{{ position.name }}">{{ position.name }}</option>
        {% endfor %}
    </select>
{% endblock %}