{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="The biggest belarussian zoo.">
    <meta name="author" content="Darya Zgirskaya">

    <title>{% block title %}Zoo Website{% endblock title %}</title>
    <link rel="icon" href="{% static 'images/zoo_icon.png' %}" type="image/png">

    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
    <header>
        <div class="logo">
            <img name="logo" src="{% static 'images/zoo_icon.png' %}"
                srcset="{% static 'images/zoo_icon.png' %} 600w,
                        {% static 'images/zoo_icon.png' %} 1000w,
                        {% static 'images/zoo_icon.png' %} 1400w"
                sizes="(max-width: 600px) 600px,
                        (max-width: 1000px) 1000px,
                        1400px"
                alt="Zoo Logo">

            <h1>{% block header %}Welcome to the Zoo!{% endblock header %}</h1>
        </div>
    </header>

    <nav>
        <ul tabindex>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'certificate' %}">Certificate</a></li>
            <li><a tabindex="-1" href="{% url 'common_info_dashboard' %}">Common Info</a></li>
            <li><a href="{% url 'company-info' %}">Company Info</a></li>
            <li><a href="{% url 'articles' %}">News</a></li>
            <li><a tabindex href="{% url 'recalls' %}">Recalls</a></li>
            <li><a href="{% url 'faqs' %}">FAQs</a></li>
            <li><a href="{% url 'contacts' %}">Contacts</a></li>
            <li><a href="{% url 'positions' %}">Employee Positions</a></li>
            <li><a href="{% url 'vacancies' %}">Vacancies</a></li>
            <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
        </ul>

        <div class="theme-switcher">
            <button id="themeToggle" aria-label="Switch theme">
                <span class="theme-icon">🌙</span>
                <span class="theme-text">Dark Mode</span>
            </button>
        </div>
    </nav>

    <main>
        <article>
            {% block content %}
            {% endblock content %}
        </article>

        <aside>
            {% block sidebar %}
            <h2>Useful Links</h2>
            <ul>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register_employee' %}">Register employee</a></li>
                <li id="line"><a href="{% url 'register_visitor' %}">Register visitor</a></li>
                <li><a href="{% url 'home' %}#tickets_catalog">Tickets</a></li>
                <li><a href="{% url 'cart' %}">Cart</a></li>
                <li><a href="{% url 'promocodes' %}">Promo Codes</a></li>
            </ul>
            {% endblock sidebar %}
        </aside>
    </main>

    <footer style="color: gray;">
        <p>&copy; {{ current_date.year }} Zoo Company. All rights reserved.</p>
        <abbr title="Zoological Nature Organisation">ZNO</abbr>
        <p><a href="mailto:zoo@example.com" accesskey="a">Write to us</a></p>
        <a hidden href="tel:+1234567890">Call to us</a>
    </footer>

    <script src="{% static 'js/theme.js' %}"></script>

    {% block extra_js %}{% endblock extra_js %}
</body>
</html>