<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <h1>Welcome to zoo!</h1>

    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <h2>You authenticated as superuser</h2>
            <p><a href="{% url 'superuser_dashboard' %}">Superuser Dashboard</a></p>
        {% elif user.is_employee %}
            <h2>You authenticated as employee</h2>
            <p><a href="{% url 'employee_dashboard' %}">Employee Dashboard</a></p>
        {% elif user.is_visitor %}
            <h2>You authenticated as visitor</h2>
            <p><a href="{% url 'visitor_dashboard' %}">Visitor Dashboard</a></p>
        {% endif %}
        <p><a href="{% url 'unregistered_employee' %}">Common Information</a></p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <h2>You are not authenticated</h2>
        <div>
            <p><a href="{% url 'unregistered_employee' %}">Enter as a guest</a></p>
            <p><a href="{% url 'login' %}">Login</a></p>
            <p><a href="{% url 'register_employee' %}">Register employee</a></p>
            <p><a href="{% url 'register_visitor' %}">Register visitor</a></p>
        </div>
    {% endif %}
</body>
</html>