{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>
    <h1>Login</h1>
    
    <form method="post">
        {% csrf_token %}
        
        <fieldset name="user">
            <label>Username:</label>
            <input type="text" name="username" required>
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            {% endif %}
        
            <label>Password:</label>
            <input type="password" name="password" required>
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            {% endif %}
        </fieldset>

        <label>Repeat Password:</label>
        <input type="password" name="repeat_password" disabled required>
        <label>Country:</label>
        <input type="text" name="country" optional>
        
        <button type="submit">Log In</button>
    </form>

    <input type="radio" name="sex" value="male">Male<br>
    <input type="radio" name="sex" value="female" checked>Female<br>


    <p>Or log in with: <a href="{% url 'social:begin' 'google-oauth2' %}">Google</a></p>

    <div class="no_account">
        <p>Don't have an account?</p>
        <a href="{% url 'register_visitor' %}">Register as Visitor</a>
        <a href="{% url 'register_employee' %}">Register as Employee</a>
    </div>
</body>
</html>
