<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site Navigation</title>
</head>
<body>
    <h1>Navigation Links</h1>
    <ul>
        <li><a href="articles/">Articles</a></li>
        <li><a href="company-info/">Company Info</a></li>
        <li><a href="contacts/">Contacts</a></li>
        <li><a href="faqs/">FAQs</a></li>
        <li><a href="positions/">Employee Positions</a></li>
        <li><a href="promocodes/">Promo Codes</a></li>
        <li><a href="recalls/">Recalls</a></li>
        <li><a href="vacancies/">Vacancies</a></li>
        <li><a href="privacy-policy/">Privacy Policy</a></li>
    </ul>
</body>
</html>
